/* shared style */
.secondery-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

/* Nav styles */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    margin: 10px;
}
/* header */
.header{
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 1300px;
}

/* banner styles */

.banner-contant{
    max-width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-profile-pic{
    width: 1100px;
    
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* skills section style */
.skills{
    margin: 100px 100px;
}
.section-title{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    border-radius: 5;
}
/* resume section style */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    color: #757575;
}
.experience-sub-title{
    color: #757575;
}
.experience-title{
    font-size: bold;
}
.resume hr{
    color: #D1D1D1;
    margin: 20px 1px;
}
.section-title{
    margin-bottom: 80px;
}
.text-center{
    text-align: center;
}
/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    
}
.footer-column{
    width: 50%;
    
}

footer input[type="text"]{
    height: 64px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
footer input[type="email"]{
    height: 64px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
footer textarea{
    height: 114px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}